*{
  margin:0px;
}
nav{
  width:100%;
  height:20%;
  padding:20px;
  background-color:black;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
   width:100%;
   height:86vh;
}
#add{
  border:1px solid #262626;
  border-radius: 5px;
  background-color: #262626;
  width: 400px;
  height: 20px;
  padding:10px;
  margin-right: 10px;
}
#addbtn{
   border:1px solid #1E6F9F;
   border-radius: 5px;
   background-color: #1E6F9F;
   color:white;
   width:60px;
   height:40px;
   padding:10px;
}
#cover{
  width: 492px;
  height: 600px;
}
.row{
  list-style-type: none;
  border:1px solid #262626;
  border-radius: 5px;
  background-color: #262626;
  padding:10px;
  color:white;
}
.btn{
  margin-top: 20px;
}